<!DOCTYPE html>
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title blaciris | Error
link(rel="stylesheet", href="/styles/css/error.css")
main.main
  .main__cover
    h1.main__error-title Error
    h1.main__error-message #{error.message || error.oldMessage}