extends ../externals/adminbase

block content
  main.main
    .main__cover
      .main__filter#main-filter
        .main__filter__cover
          span.main__filter-tag.query(data-query=`?`) all
          span.main__filter-tag.query(data-query=`?order=releasedDate,desc`) new
          span.main__filter-tag.query(data-query=`?order=updatedAt,desc`) last updated
          span.main__filter-tag.query(data-query=`?rating=gte,7&order=releasedDate,desc`) top
          span.main__filter-tag.query(data-query=`?text=trending`) trending
          span.main__filter-tag.query(data-query=`?text=netflix`) netflix
          span.main__filter-tag.query(data-query=`?range=releasedDate,01/01/2021,06/01/2022&order=releasedDate,desc`) this year
      
      .main__container#main-container
        .main__container__cover#items-container
          if(movies && movies.length)
            each movie in movies
              +dbmovieCard(movie)
        //- else
        //-   - let a = 1
        //-   while a < 17
        //-     +dbmovieCard(a)
        //-     -a++
            
        .center-components.padding-a1.margin-t2
          span.show-more#show-more show more



  .popup.display-off#delete-movie-popup
    .popup-box.popup-box-normal
      .popup-close
        i.fas.fa-times
      .popup-content.create-content
        form.create-new#delete-movie
          .form-heading
            h1 Are you sure you want to delete the movie
          
          .center-components
            button.btn-black.btn-normal#delete-movie-btn(type="submit")
              span.btn-content yes, delete

