extends ../externals/adminbase

block content
  main.main
    .main__cover
      .main__filter#main-filter
        .main__filter__cover
          span.main__filter-tag.query-tag.query(data-query=`order=releasedDate,desc`) new
          span.main__filter-tag.query-tag.query(data-query=`status=ongoing&order=rating,desc`) ongoing
          span.main__filter-tag.query-tag.query(data-query=`status=paused&order=rating,desc`) paused
          span.main__filter-tag.query-tag.query(data-query=`status=stopped&order=rating,desc`) stopped
          span.main__filter-tag.query-tag.query(data-query=`status=ended&order=rating,desc`) ended
          span.main__filter-tag.query-tag.query(data-query=`order=updatedAt,desc`) last updated
          span.main__filter-tag.query-tag.search(data-query=`trending`) trending
      .main__container#main-container
        .main__container__cover#items-container
          if(series && series.length)
            each serie in series
              +dbmovieCard(serie, 'serie')


        .center-components.padding-a1
          span.show-more#show-more show more


  .popup.display-off#delete-serie-popup
    .popup-box.popup-box-normal
      .popup-close
        i.fas.fa-times
      .popup-content.create-content
        form.create-new#delete-serie
          .form-heading
            h1 Are you sure you want to delete the TV Series
          
          .center-components
            button.btn-black.btn-normal#delete-serie-btn(type="submit")
              span.btn-content yes, delete

