<!DOCTYPE html>

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title blaciris | #{ext.title}
    link(rel="stylesheet", href=`/styles/fontawsome/css/all.min.css`)
    link(rel="stylesheet", href=`/styles/css/${ext.css}.css`)

  body
    main
      .download-heading
        .center-components
          span.text-logo-secondary blaciris
          p download movies, tv shows and games
      section.counter
        .center-components
          .counter__circle 5
          p Your download will begin after this counter
          p.margin-t1.
            
            If your download does not start, go back and try again and if it still dont start, you could report link as broken
            
          p.margin-t2.
            
            If you don't find what you are looking for, suggest it to us and we would have for you in your next time back
            
    include ../layouts/footer