extends ../externals/clientbase


block content
  include ../externals/cards

  section.redirects
    p Find 
      i dracula 
      | in 
      a(href='/movies') movies 
      | or in 
      a(href='/series') tv series

  section.container
    .section-heading
      h2 results for trending
    .content.content-games
      - let n = 1
      while n < 3
        +gameCard(n)
        - n++
 
    .center-components
      button.btn-primary--alt.btn-small
        span.btn-content load more