extends ../externals/clientbase

block content
  include ../externals/cards


  section.head-slider
    .head-slider__container
      .back-image.image-box.first-image
        a(href='/movie')
          img(src="", alt="Movie Image")
      .back-image.image-box.third-image
        a(href='/movie')
          img(src="", alt="Movie Image")
      .front-image.image-box.second-image
        a(href='/movie')
          img(src="", alt="Movie Image")
          //- a.front-image__cover(href='/movie')
        .image-box__shade
          .image-box-about
            a(href='/movie')
              h2 
            .image-box-description
              p  
                  
    .center-components.margin-bl2.display-off
      .switch-btns
        span.switch-btn
        span.switch-btn
        span.switch-btn.switch-btn--current
        span.switch-btn
        span.switch-btn


  section.filter-bar.center-components
    .filter-bar__container
      ul.ul-inline
        li
          a(href="/movies?text=trending") Trending
        li
          a(href="/movies?text=popular") popular
        li
          a(href="/movies?text=crime") crime
        li
          a(href="/movies?text=comedy") comedy
        li
          a(href="/movies?text=netflix") netflix
        li
          a(href="/movies?text=amazon") amazon
        li
          a(href="/movies?text=apple") apple
        li
          a(href="/movies?text=animations") animations
        li
          a(href="/movies?text=action") action
        li
          a(href="/movies?text=politics") politics
        li
          a(href="/movies?text=drama") drama
        li
          a(href="/movies?text=adventure") adventure


  section.slider
    .section-heading
      h2 movies just in
    i.fas.fa-chevron-left.slider-btn.slider-btn--left

    .slider__container
      .slider__container-box#first-movies
        //- mixin of cards
        - let a = 1
        while a < 16
          +movieCard(a)
          - a++
    
        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right

  section.slider
    .section-heading
      h2 series out now
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#first-series
        //- mixin of cards
        - let b = 1
        while b < 16
          +movieCard(b)
          - b++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right

  section.slider
    .section-heading
      h2 new games
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#first-games
        //- mixin of card
        - let c = 1
        while c < 16
          +gameCard(c)
          - c++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right


  section.slider
    .section-heading
      h2 top movies
    i.fas.fa-chevron-left.slider-btn.slider-btn--left

    .slider__container
      .slider__container-box#second-movies
        //- mixin of cards
        - let d = 1
        while d < 16
          +movieCard(d)
          - d++
    
        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right


  section.slider
    .section-heading
      h2 top tv series
    i.fas.fa-chevron-left.slider-btn.slider-btn--left

    .slider__container
      .slider__container-box#second-series
        //- mixin of cards
        - let e = 1
        while e < 16
          +movieCard(e)
          - e++
    
        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right


  section.slider
    .section-heading
      h2 top games
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#second-games
        //- mixin of cards
        - let f = 1
        while f < 16
          +gameCard(f)
          - f++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right

  section.slider
    .section-heading
      h2 new seasons added
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#third-series
        //- mixin of cards
        - let g = 1
        while g < 16
          +movieCard(g)
          - g++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right




