extends ../externals/clientbase

block metaTags 
  meta(name="keywords" content=`index of movies 2023, index of TV Series 2023, index of Games 2023, download TV Series for free, download Games for free, download movies for free, free movies download links, free games download links, free TV Series downlaod links, Free Direct Download links`)
  meta(name="description" content=`Download movies, TV Series and Games on blaciris for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games`)
  meta(name="subject" content="Providing free download links for Movies, TV Series and Games for all around the world")
  meta(name="copyright" content="blaciris")
  meta(name="topic" content='Get Download links for movies, games and TV Series')
  meta(name="summary" content='Download movies, TV Series and Games on blaciris for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games')
  meta(name="Classification" content="Entertainment")
  meta(name="url" content="http://blaciris.com")
  meta(name="identifier-URL" content="http://blaciris.com")
  meta(name="pagename" content=`List of Movies`)
  meta(name="category" content="Entertainment")
  meta(name="coverage" content="Worldwide")
  meta(name="distribution" content="Global")
  meta(name="rating" content="General")
  meta(name="target" content="all")
  meta(name="HandheldFriendly" content="True")
  meta(name="MobileOptimized" content="320")
  meta(name="pageKey" content="Movie Page")


  meta(name="og:title" content=`Explore and Download Trending and All kinds of Movies, Tv Series & Games`)
  meta(name="og:type" content="movies,series,games")
  meta(name="og:url" content=`https://blaciris.com`)
  meta(name="og:image" content=`/images/logo.png`)
  meta(name="og:site_name" content="blaciris")
  meta(name="og:description" content=`Download movies, TV Series and Games on blaciris for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games`)
  //- meta(name="og:country-name" content=`${movie.country}`)

  meta(name="twitter:title" content=`Explore and Download Trending and All kinds of Movies, Tv Series & Games`)
  meta(name="twitter:description" content=`Download movies, TV Series and Games on blaciris for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games`)
  meta(name="twitter:image" content=`/images/logo.png`)
  meta(name="twitter:card" content=`summery_large_image`)
  meta(name="twitter:site" content=`@blaciris_`)
  meta(name="twitter:creator" content=`@blaciris_`)


block content
  include ../externals/cards


  section.head-slider
    .head-slider__container
      .back-image.image-box.first-image
        a(href='/movie')
          img(src="" alt="Movie Image")
      .back-image.image-box.third-image
        a(href='/movie')
          img(src="" alt="Movie Image")
      .front-image.image-box.second-image
        a(href='/movie')
          img(src="" alt="Movie Image")
          //- a.front-image__cover(href='/movie')
        .image-box__shade
          .image-box-about
            a(href='/movie')
              h2 
            .image-box-description
              p  

    .center-components.margin-bl2.display-off
      .switch-btns
        span.switch-btn
        span.switch-btn
        span.switch-btn.switch-btn--current
        span.switch-btn
        span.switch-btn


  section.filter-bar.center-components
    .filter-bar__container
      ul.ul-inline
        li
          a(href="/movies?text=trending&order=releasedDate,desc") Trending
        li
          a(href="/movies?order=rating,desc") popular
        li
          a(href="/movies?text=crime&order=releasedDate,desc") crime
        li
          a(href="/movies?text=comedy&order=releasedDate,desc") comedy
        li
          a(href="/movies?text=netflix&order=releasedDate,desc") netflix
        li
          a(href="/movies?text=amazon&order=releasedDate,desc") amazon
        li
          a(href="/movies?text=apple&order=releasedDate,desc") apple
        li
          a(href="/movies?text=animations&order=releasedDate,desc") animations
        li
          a(href="/movies?text=action&order=releasedDate,desc") action
        li
          a(href="/movies?text=politics&order=releasedDate,desc") politics
        li
          a(href="/movies?text=drama&order=releasedDate,desc") drama
        li
          a(href="/movies?text=adventure&order=releasedDate,desc") adventure


  section.slider
    .section-heading
      h2 movies just in
    i.fas.fa-chevron-left.slider-btn.slider-btn--left

    .slider__container
      .slider__container-box#first-movies
        //- mixin of cards
        - let a = 1
        while a < 16
          +movieCard(a)
          - a++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right

  section.slider
    .section-heading
      h2 series out now
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#first-series
        //- mixin of cards
        - let b = 1
        while b < 16
          +movieCard(b)
          - b++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right

  section.slider
    .section-heading
      h2 new games
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#first-games
        //- mixin of card
        - let c = 1
        while c < 16
          +gameCard(c)
          - c++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right


  section.slider
    .section-heading
      h2 top movies
    i.fas.fa-chevron-left.slider-btn.slider-btn--left

    .slider__container
      .slider__container-box#second-movies
        //- mixin of cards
        - let d = 1
        while d < 16
          +movieCard(d)
          - d++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right


  section.slider
    .section-heading
      h2 top tv series
    i.fas.fa-chevron-left.slider-btn.slider-btn--left

    .slider__container
      .slider__container-box#second-series
        //- mixin of cards
        - let e = 1
        while e < 16
          +movieCard(e)
          - e++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right


  section.slider
    .section-heading
      h2 top games
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#second-games
        //- mixin of cards
        - let f = 1
        while f < 16
          +gameCard(f)
          - f++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right

  section.slider
    .section-heading
      h2 new seasons added
    i.fas.fa-chevron-left.slider-btn.slider-btn--left
    .slider__container
      .slider__container-box#third-series
        //- mixin of cards
        - let g = 1
        while g < 16
          +movieCard(g)
          - g++

        .slider__container-box-button
          span
            a.see-more(href="") see more
    i.fas.fa-chevron-right.slider-btn.slider-btn--right




