extends ../externals/clientbase


block content
  include ../externals/cards

  section.redirects
    p 
      //- | Find 
      //- i dracula 
      //- | in 
      //- a(href='/series') tv series 
      //- | or in 
      //- a(href='/games') games

  section.container
    .content.content-movies#content
      - let n = 1
      while n < 19
        +movieCard(n)
        - n++
 
    .center-components
      button.btn-primary--alt.btn-small#show-more
        span.btn-content load more