header.header
  .header__header
    .header__logo
      .header-menu
        i.fas.fa-bars#menu-bar
       
      span.text-logo-secondary
        a(href='/') blaciris
    
    .search-bar
      form.search-bar__form
        input.input-search(type="serch", placeholder="search movie" id='search-bar')
        i.fas.fa-search#search-button
    
    .main-titles
      ul.title-list
        button.btn-red.suggest suggest
        //- li.title-list-item
        //-   a(href='/movies') Movies
        //- li.title-list-item
        //-   a(href='/series') tv series
        //- li.title-list-item
        //-   a(href='/games') games

aside.sidebar#sidebar
  .right-components
    i.fas.fa-chevron-circle-left.close-sidebar#close-sidebar
  .sidebar__cover
    .sidebar__content
      .sidebar__content-categories
        ul
          li
            a(href='/movies') Movies
          li
            a(href='/series') Tv Series
          li
            a(href='/games') Games
        ul
          li trending
          li new
          li updated
          li top rated
        ul
          li adventure
          li crime
          li fantasy
          li war
          li politics
        ul
          li netflix
          li dc
          li prime video
          li marvel
          li apple tv
        ul
          li hollywood
          li bollywood
          li chinese
          li japanese
          li uk
          li african
        ul
          li hollywood
          li bollywood
          li chinese
          li japanese
          li uk
          li african
        ul
          li dashbaord
