header.header
  .header__header
    .header__logo
      .header-menu
        i.fas.fa-bars#menu-bar
       
      span.text-logo-secondary
        a(href='/') blaciris
    
    .search-bar
      form.search-bar__form
        input.input-search(type="serch", placeholder="search movie" id='search-bar')
        i.fas.fa-search#search-button
    
    .main-titles
      ul.title-list
        button.btn-red.suggest suggest
        //- li.title-list-item
        //-   a(href='/movies') Movies
        //- li.title-list-item
        //-   a(href='/series') tv series
        //- li.title-list-item
        //-   a(href='/games') games

aside.sidebar#sidebar
  .right-components
    i.fas.fa-chevron-circle-left.close-sidebar#close-sidebar
  .sidebar__cover
    .sidebar__content
      .sidebar__content-categories
        ul
          li
            a(href='/movies') Movies
          li
            a(href='/series') Tv Series
          li
            a(href='/games') Games
        ul
          li(data-query='?q=trending') trending
          li(data-query=`?date=gte,${new Date(Date.now() - (7776000000)).toLocaleDateString()}`) new
          li(data-query=`?updatedAt=gte,${new Date(Date.now() - (7776000000)).toLocaleDateString()}`) updated
          li(data-query='?rating=gte,6') top rated
        ul
          li(data-query='?keywords=adventure') adventure
          li(data-query='?keywords=crime') crime
          li(data-query='?keywords=fantasy') fantasy
          li(data-query='?keywords=war') war
          li(data-query='?keywords=politics') politics
        ul
          li(data-query='?companies=netflix') netflix
          li(data-query='?companies=dc') dc
          li(data-query='?companies=prime') prime video
          li(data-query='?companies=marvel') marvel
          li(data-query='?companies=apple') apple tv
      
        ul
          li(data-query='?country=United-States') hollywood
          li(data-query='?country=india') bollywood
          li(data-query='?country=china') chinese
          li(data-query='?country=japan') japanese
          li(data-query='?country=united-kingdom') uk
          li(data-query='?country=african') african
          li(data-query='?country=korea') korean
        
        if(user)
          ul
            li 
              a(href='/dashboard/movies') dashbaord
