.game-card {
  // height: 25rem;

  &__cover {
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
  }

  &__title {
    color: $white;
    font: normal 2rem $logo-font;
    text-transform: capitalize;
  }
}
