%logo {
  font-size: 3rem;
  font-family: $logo-font;
  font-weight: bolder;
  letter-spacing: 1px;

  @include respond(phone-small) {
    font-size: 2rem;
  }
}
.text-logo-primary {
  @extend %logo;
  color: $secondary;
}
.text-logo-secondary {
  @extend %logo;
  color: $primary;
}
