$color-red: #da0a0a;
$color-blue: dodgerblue;

$font-description: quicksand;
$font-title: kanit;
$font-heading: sans;
$logo-font: kanit;

$quicksand: quicksand;
$poppins: poppins;
$mukta: mukta;
$stolz: stolz;

$fs-larger: 3rem;
$fs-large: 2rem;
$fs-normal: 1.6rem;
$fs-title: 1.8rem;
$fs-small: 1.4rem;
$fs-tiny: 1.2rem;

$black: black;
$white: white;
$black-light: rgb(27, 27, 27);
$white-light: rgb(236, 235, 235);
$black-lighter: rgb(59, 59, 59);
$white-lighter: rgb(223, 223, 223);

$bg-movie-title: #0000004f;

$transition: all 0.3s ease-out;
