@import "../components/logo";
@import "./sidebar";

.header {
  width: 100%;
  padding: 0.5rem 4rem;
  background-color: $secondary;
  box-shadow: 0 0 4px lighten(black, 50);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  @include respond(tab-port) {
    padding-inline: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    flex-shrink: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    // @include respond(phone-small) {
    //   // gap: 1rem;
    // }

    .header-menu {
      position: relative;

      .fa-bars {
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s ease-out;

        // @include respond(phone) {
        //   // font-size: 1.6rem;
        // }
      }

      &__container {
        max-width: 100%;
        font-family: $poppins;
        margin-bottom: 3rem;

        overflow-y: auto;
        max-height: 40vh;

        ul {
          margin-top: 1rem;
          list-style: none;
          li {
            padding: 0.2rem;
          }
        }

        .menu-box {
          text-transform: lowercase;
          display: block;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          h2 {
            color: $white;
            border-bottom: 2px solid $white;
            min-width: max-content;
          }
          .menu-option-group {
            display: flex;
            gap: 0.5rem;
            font-size: 1.5rem;
            color: $white-light;

            label {
              min-width: max-content;
            }
          }

          input[name="country"] ~ label {
            text-transform: capitalize;
          }
        }
      }

      &__button {
        // min-width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-family: $mukta;
          color: white;
          font-size: 1.5rem;
          width: max-content;
          margin-right: 3rem;
        }
      }
    }
  }

  .search-bar {
    flex-basis: 20%;
    text-align: center;

    i {
      font-size: 2rem;
      display: none;
      color: $black-lighter;

      // @include respond(phone-small) {
      // font-size: 2rem;
      // }
    }

    @include respond(tab-land) {
      flex-basis: 30%;
    }

    &__form {
      width: 100%;

      .input-search {
        width: 100%;
        outline: none;
        border: 3px solid $primary-light;
        background-color: transparent;
        border-radius: 40px;
        font: normal 1.6rem $font-description;
        padding-inline: 2rem;
        padding-block: 0.3rem;
        color: $primary;

        &::placeholder {
          color: $text-secondary;
          opacity: 0.7;
        }
      }
    }
  }

  .main-titles {
    font: normal 1.8rem sans;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }

    .fa-bars {
      display: none;
      font-size: 2rem;
    }

    .title-list {
      list-style: none;
      display: flex;
      gap: 1rem;

      .title-list-item-4 {
        @include respond(tab-land) {
          display: none;
        }
      }

      .title-list-item-3 {
        @include respond(tab-port) {
          display: none;
        }
      }

      .title-list-item {
        @include respond(phone) {
          display: none;
        }
      }

      // .title-list-item
      @media (max-width: 21.875em) {
        button {
          display: none;
        }
      }

      &-item {
        display: inline-block;
        padding-inline: 1rem;
        position: relative;
        flex-shrink: 0;

        @include respond(phone-small) {
          padding-inline: 0.3rem;
        }

        div {
          cursor: pointer;
        }
        &:hover .title-list-inner {
          transform: scale(1);
          opacity: 1;
        }

        .title-list-inner {
          position: absolute;
          top: 105%;
          left: 0;
          transform: scale(0);
          opacity: 0;
          transition: $transition;

          background-color: $white;

          a {
            display: inline-block;
            width: 100%;
            padding-inline: 1rem;
            transition: $transition;
            min-width: max-content;
            padding-block: 0.3rem;
            border-bottom: 1px solid black;
            text-transform: capitalize;
            // font-size: 1.4rem;

            &:hover {
              // background-color: $black;
              color: $color-red !important;
            }
          }
        }
      }
      button {
        flex-grow: 0;
      }
    }
  }
}

@include respond(phone) {
  .header .header__header .search-bar {
    flex-basis: max-content;
    flex-grow: 1;

    &__form {
      input {
        display: none;
      }
      i {
        display: initial;
      }
    }
  }

  .header .fa-bars {
    font-size: 2rem;
  }

  .header .main-titles .fa-bars {
    display: initial;
  }

  .header .main-titles {
    position: relative;

    &:hover .title-list {
      display: block;
    }
  }
}
