$primary: black;
$secondary: white;

$primary-light: #181818;
// $primary-light: #1f1f1f;
$secondary-light: #e7e7e7;

$text-primary: #e0e0e0;
$text-secondary: #1b1a1a;

body {
  background-color: $primary-light;
}
