@font-face {
  font-family: sans;
  src: url(/styles/font/PTSans-Regular.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(/styles/font/Quicksand-Regular.ttf);
}
@font-face {
  font-family: kanit;
  src: url(/styles/font/Kanit-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(/styles/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: stolz;
  src: url(/styles/font/Stolzl-Bold.ttf);
}
