<div class="movie-card card-game">
  <a href="">
    <img src="/public/images/image-5.jpg" alt="" />
    <h2>
      call of duty: infinite warfare
      <span><i class="fas fa-star"></i> 8.3</span>
    </h2>
  </a>
</div>

<!-- 







 -->

<!-- ==================== game card============= -->
<div class="game-card">
  <a href="" class="game-card__cover">
    <div class="game-card__image" style="background-image: url(/public/images/image-11.jpg)"></div>
    <div class="game-card__title">The rise of the spartans of the modern day:</div>
  </a>
</div>
<!-- 






 -->
<!-- =================== dashboard movie card ===== -->
<div class="dbmovie-card">
  <div class="dbmovie-card__image">
    <img src="/public/images/image-14.jpg" alt="Image" />
  </div>
  <div class="dbmovie-card__info">
    <h2>
      The Title: cha cha smoothe -
      <span><i class="fas fa-star"></i> 7.8</span>
    </h2>
    <p>Laboriosam unde voluptas deleniti maxime recusandae reprehenderit dolore quibusdam, incidunt quam iusto!</p>
  </div>
  <div class="dbmovie-card__buttons">
    <a href="" title="view"><i class="fas fa-eye"></i></a>
    <a href="" title="edit"><i class="far fa-edit"></i></a>
    <a href="" title="delete"><i class="fas fa-trash"></i></a>
  </div>
</div>

<!-- 






 -->
<!-- ====================== movie links ========= -->

<section class="container links">
  <div class="links__container">
    <div class="link">
      <span>480p </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>720p </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>720x256p </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>1080p </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>2160p </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
  </div>
</section>

<!-- 




 -->
<!-- ================== season card =========== -->
<a href="" class="season-card">
  <div class="season-card__cover">
    <div class="season-card__image">
      <div class="season-card__image-box">
        <img src="/public/images/image-2.jpg" alt="season image" />
      </div>
    </div>
    <div class="season-card__data">
      <div class="season-card__data-box">
        <h2>season 1</h2>
      </div>
    </div>
  </div>
</a>
<!-- ----------------- season card dashbaord -->
<div href="" class="season-card">
  <div class="season-card__cover">
    <div class="season-card__image">
      <div class="season-card__image-box">
        <img src="/public/images/image-2.jpg" alt="season image" />
      </div>
    </div>
    <div class="season-card__data">
      <div class="season-card__data-box">
        <h2>season 1</h2>
      </div>
      <div class="season-card__data-buttons">
        <a href=""><i class="fas fa-edit"></i></a>
        <a href=""><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </div>
</div>

<section class="seasons"></section>

<!-- 





 -->
<!-- ====================== season episides links -->

<div class="episode-card">
  <div class="episode-card__cover">
    <div class="episode-card__title">episode 1</div>
    <div class="episode-card__links">
      <span class="episode-link episode-link--black">
        <a href=""><i class="fas fa-download"></i> 480p</a>
      </span>
      <span class="episode-link episode-link--black">
        <a href=""><i class="fas fa-download"></i> 720p</a>
      </span>
      <span class="episode-link episode-link--black">
        <a href=""><i class="fas fa-download"></i> 720x256p</a>
      </span>
      <span class="episode-link episode-link--black">
        <a href=""><i class="fas fa-download"></i> 1080p</a>
      </span>
      <span class="episode-link episode-link--black">
        <a href=""><i class="fas fa-download"></i> 2160p</a>
      </span>
    </div>
  </div>
</div>

<div class="season-links">
  <div class="season-links__cover"></div>
</div>
<!-- 





 -->
<!-- ===================== game links -->
<section class="container links">
  <div class="links__container">
    <div class="link">
      <span>part 1 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>part 2 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>part 3 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>part 4 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>part 5 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
    <div class="link">
      <span>part 6 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
  </div>
</section>
<!-- 



 -->
<!-- ==========================  dashboard gamelink card === -->
<div class="gamelink-card">
  <div class="gamelink-card__cover">
    <h3>part 1</h3>
    <p>https://www.blaciris.com/client/games/firstshootergames/all/downloadmovie?id=jldkdjojsdfafsfsfsfi8923</p>
    <div class="gamelink-card__buttons">
      <span><i class="fas fa-edit"></i></span>
      <span><i class="fas fa-trash"></i></span>
    </div>
  </div>
</div>

<!-- ========================= dashboard notification card === -->
<div class="notification-card">
  <div class="notification-card__cover">
    <div class="notification-card__notification">
      <h2>A very new notification for you</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate veritatis minus, ad praesentium eius
        hic sunt omnis, reprehenderit sapiente deleniti provident.
      </p>
    </div>
    <div class="notification-card__buttons">
      <a title="marked unviewed"><i class="fas fa-eye-slash"></i></a>
      <a title="delete"><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>

<!-- =============================== dashbaord schedule card == -->
<div class="schedule-card">
  <div class="schedule-card__cover">
    <div class="schedule-card__schedule">
      <h2>Thor Ragnarok</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate veritatis minus, ad praesentium eius
        hic sunt omnis, reprehenderit sapiente deleniti provident.
      </p>
    </div>
    <div class="schedule-card__buttons">
      <a title="marked unviewed"><i class="fas fa-eye-slash"></i></a>
      <a title="delete"><i class="fas fa-trash"></i></a>
    </div>
  </div>
  <div class="schedule-card__time schedule-card__time--due">
    <span>Tuesday, September 12, 2022</span>
  </div>
</div>
