<section class="seasons">
  <details class="season-card__container">
    <summary class="season-card">
      <h2>season 1</h2>
      <span><i class="arrow fas fa-chevron-down"></i></span>
    </summary>

    <div class="episode-cards__container">
      <div class="episode-card">
        <h2>episode 1</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <div class="episode-card">
        <h2>episode 2</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <div class="episode-card">
        <h2>episode 3</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <div class="episode-card">
        <h2>episode 4</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <!--  -->
    </div>
  </details>

  <details class="season-card__container">
    <summary class="season-card">
      <h2>season 2</h2>
      <span><i class="arrow fas fa-chevron-down"></i></span>
    </summary>

    <div class="episode-cards__container">
      <div class="episode-card">
        <h2>episode 1</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <div class="episode-card">
        <h2>episode 2</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <div class="episode-card">
        <h2>episode 3</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <div class="episode-card">
        <h2>episode 4</h2>
        <div class="episode-card__links">
          <a href="" class="links_1">1080x265</a>
          <a href="" class="links_2">1080</a>
          <a href="" class="links_1">720x265</a>
          <a href="" class="links_2">720</a>
          <a href="" class="links_1">480</a>
        </div>
      </div>

      <!--  -->
    </div>
  </details>
</section>

<!-- =========== links ============ -->

<section class="container links">
  <div class="links__container">
    <div class="link">
      <span>part 1 </span>
      <a href=""><i class="fas fa-download"></i></a>
    </div>
  </div>
</section>
